<section id="sobre" class="section mb-6 mt-6">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-2 has-text-centered is-white has-text-weight-bold pb-3">
            {{ page.about.title}}
          </h1>
          <p class="subtitle has-text-centered pb-6">
            {{ page.about.subtitle }}
          </p>
        </div>
      </div>
      <div class="columns is-vcentered">
        {% for service in page.about.services %}
          <div class="column has-text-centered">
            <i class="fas {{ service.icon }} fa-5x"></i>
          </div>
          <div class="column">
              <p class="is-size-5 has-text-weight-bold sub-title-about">{{ service.title }}</p>
              <p class="">
                {{ service.text}}
              </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>