<section class="section brands">
  <div class="container">
    <div class="columns is-mobile header-title">
      <div class="column">
        <h1 class="title is-2 has-text-centered is-blue">
          {{ site.data.brands.title}}
        </h1>
      </div>
    </div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
          {% for img in site.static_files %} 
          {% if img.path contains 'brands' %}
            <div class="swiper-slide">
              <img src="{{ img.path | relative_url }}" alt="">
            </div>
          {% endif %}
        {% endfor %}     
    </div>
  </div>
</section>
