<section id="seja-cliente" class="section">
  <div class="container">
    <div class="columns is-mobile header-title">
      <div class="column">
        <h1 class="title is-2 has-text-centered is-white">
          Seja nosso cliente
        </h1>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <p class="title is-5">
          Antecipe seu processo de cadastro com nossa Equipe de Vendas
        </p>
        <p>
          Preencha o arquivo deste link e envie para nós. <br />
          Horários de atendimento: <br />
          Segunda – Sexta, 8h – 18h <br />
        </p>
      </div>

      <div class="column">
        <form name="client" method="POST" data-netlify="true">
          <div class="field-body">
            <div class="field">
              <label>Nome</label>
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" name="nome" placeholder="Name" />
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Email</label>
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input" type="email" name="email" placeholder="Email" />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </p>
            </div>
          </div>

          <div class="field-body pt-4">
            <div class="field">
              <label>Empresa</label>
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" name="empesa" placeholder="Name" />
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Telefone</label>
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input" type="tel" name="telefone" placeholder="Email" />
                <span class="icon is-small is-left">
                  <i class="fas fa-mobile-alt"></i>
                </span>
              </p>
            </div>
          </div>

          <div class="field pt-4">
            <label>Ramo da atividade</label>
            <div class="control">
              <input class="input" type="text" name="atividade" placeholder="Digite seu nome" />
            </div>
          </div>

          <div class="field pt-4">
            <label>Endereço completo</label>
            <div class="control">
              <input class="input" type="text" name="endereco" placeholder="Digite seu nome" />
            </div>
          </div>

          <div class="field pt-4">
            <label>Ponto de Referência</label>
            <div class="control">
              <input class="input" type="text" name="referencia" placeholder="Digite seu nome" />
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>