<section id="seja-cliente" class="section" style="background-image: url('{{ site.data.client.img | relative_url }}')">
  <div class="container">
    <div class="columns is-mobile header-title">
      <div class="column">
        <h1 class="title is-2 has-text-centered has-text-white">
          {{ site.data.client.title }}
        </h1>
      </div>
    </div>

    <div class="columns">
      <div class="column has-text-grey-light">
        <p class="has-text-grey-light is-size-4">
          {{ site.data.client.subtitle }}
          <br> <br>
        </p>
        <p class="is-size-5">
          {{ site.data.client.text }}
        </p>
      </div>

      <div class="column">
        <div class="columns forms-center">
          <iframe 
            id="client_form" 
            src="https://oxar.appetiteapex.com/ords/f?p=120:2:17373831141493:::::"
            frameborder="0">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>