<section id="contato" class="section contact-us">
    <div class="container">
      <div class="columns is-mobile header-title">
        <div class="column">
          <h1 class="title is-2 has-text-centered has-text-white">
            {{ site.data.contact.title }}
          </h1>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <p class="title is-5 has-text-centered has-text-white">
            {{ site.data.contact.where }}
          </p>
          <div class="box iframe-rwd">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3968.842902595309!2d-35.21445968458844!3d-5.877692059520619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2f8ab1c239bb7%3A0xc6eb6181da5e82a6!2sCDA%20Distribuidora!5e0!3m2!1spt-BR!2sbr!4v1601060283667!5m2!1spt-BR!2sbr" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
        <div class="column container-iframe">
          <p class="title is-5  has-text-centered has-text-white">
            {{ site.data.contact.text }}
          </p>
          <iframe 
            class="contact-us-iframe" 
            src="https://oxar.appetiteapex.com/ords/f?p=122:2:25122020902292:::::"
            frameborder="0">
        </iframe>
        </div>
      </div>
    </div>
  </section>