<section id="contato" class="section contact-us">
    <div class="container">
      <div class="columns is-mobile header-title">
        <div class="column">
          <h1 class="title is-2 has-text-centered is-white">Fale Conosco</h1>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <p class="title is-5 has-text-centered">Onde estamos</p>
          <div class="box">
          </div>
        </div>
        <div class="column">
          <p class="title is-5  has-text-centered">
            Infome os dados a baixo:
          </p>

          <!-- Forms -->
        <form name="contact" method="POST" data-netlify="true">

          <div class="field">
            <label class="label">Nome</label>
            <div class="control has-icons-left">
              <input class="input" type="text"  name="name" placeholder="Digite seu nome">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
              <input class="input" type="email"  name="email" placeholder="Digite seu email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          
          <div class="field">
            <label class="label">Telefone</label>
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <p class="control is-expanded control has-icons-left">
                    <input class="input" type="tel" name="phone" placeholder="Digite seu número">
                    <span class="icon is-small is-left">
                      <i class="fas fa-mobile-alt"></i>
                    </span>
                  </p>
                </div>
                <p class="help">Coloque assim o número. Exemplo: 84-9923-1632</p>
              </div>
            </div>
          </div>
        
          
          <div class="field">
            <label class="label">Assunto</label>
            <div class="control">
              <div class="select">
                <select name="role[]">
                  <option value="Dúvida">Dúvida</option>
                  <option value="Sugestão">Sugestão</option>
                  <option value="Reclamação">Reclamação</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="field">
            <label class="label">Mensagem</label>
            <div class="control">
              <textarea class="textarea" placeholder="Textarea" name="message"></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Enviar</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </section>