<footer>
    <div class="section">
    <div class="container">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
                <a class="title is-4" href="#">
                  {{ page.footer.title }}
                </a>
            </div>
          </div>
          <div class="level-right">
            {% for item in site.data.navigation %}
                <a href="{{ site.baseurl }}{{ item.link }}" class="level-item">
                    {{ item.name }}
                </a>
             {% endfor %}
          </div>
        </div>
        <hr>
        <div class="columns">
          <div class="column">
            <div class="buttons">
              {% for item in page.footer.social%}
                <a class="button" href="{{ item.link }}">
                    <i class="fab {{ item.icon }}"></i>
                </a>
              {% endfor %}
            </div>
          </div>
          <div class="column has-text-centered has-text-right-tablet">
            <p class="subtitle is-6">
              {{ page.footer.copyright }}
            </p>
          </div>
        </div>
      </div>
    </div>
</footer>
<script src="{{ "/assets/js/main.js" |  relative_url }}"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>