<section class="hero is-full has-carousel">
  <div class="hero-carousel">
    <div class='has-background is-active'>
      <img class="is-background" src="https://wikiki.github.io/images/merry-christmas.jpg" alt="" />
    </div>
    <div class='has-background'>
      <img class="is-background" src="https://wikiki.github.io/images/singer.jpg" alt="" />
    </div>
    <div class='has-background'>
      <img class="is-background" src="https://wikiki.github.io/images/sushi.jpg" alt="" />
    </div>
    <div class='has-background'>
      <img class="is-background" src="https://wikiki.github.io/images/life.jpg" alt="" />
    </div>
  </div>
  {%- include nav.html -%}
  <div class="">
  </div>
</section>