<section id="inicio"class="hero is-fullheight" style="background-image: url('{{ site.data.header.img | relative_url }}')">
  <div class="hero-head">
    {%- include nav.html -%}
  </div>
  <div class="hero-body">
    <div class="container has-text-left">
      <h1 class="title is-1 has-text-white">
        {{ site.data.header.title}}
      </h1>
      <h2 class=" has-text-light">
        {{ site.data.header.subtitle}}
      </h2>
      <a href="#cliente">
        <button class="button is-warning has-text-black-ter has-text-weight-bold">
          {{ site.data.header.button}}
       </button>
      </a>
    </div>
  </div>
</section>