<header class="navbar is-fixed-top" style="background-color: #233265;">
    <div class="container">
      <div class="navbar-brand">
        <a href="/#inicio" class="logo">
          <img src="{{ "/assets/img/logo.png" | relative_url }}" alt="Logo da CDA-Natal"  width="160" height="100"/>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-end">
            {% for item in site.data.navigation %}
                <a href="{{ site.baseurl }}{{ item.link }}" class="navbar-item has-text-weight-semibold">
                    {{ item.name }}
                </a>
            {% endfor %}
            <div class="buttons has-background-blue pl-2">
              {% for item in site.data.footer.social%}
                <a class="button" href="{{ item.link }}" target="_blank">
                    <i class="fab {{ item.icon }}"></i>
                </a>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </header>
