<section id="valores" class="section mt-4">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-3 has-text-white has-text-centered has-text-weight-bold pb-2">
          {{ site.data.values.mission_title }}
        </h1>
        <p class="service-text has-text-centered is-size-6">{{ site.data.values.mission_value }}</p>
      </div>
      <div class="column">
        <h1 class="title is-3 has-text-white has-text-centered has-text-weight-bold pb-2">
          {{ site.data.values.vision_title }}
        </h1>
        <p class="service-text has-text-centered is-size-6">{{ site.data.values.vision_value }}</p>
      </div>
      <div class="column">
        <h1 class="title is-3 has-text-white has-text-centered has-text-weight-bold pb-2">
          {{ site.data.values.values_title }}
        </h1>
        <div class="columns pb-0 m-0">
          <div class="column">
      
            <p class="service-text value-item px-6 is-size-6">-{{ site.data.values.values_value1 }}</p>
            <p class="service-text value-item px-6 is-size-6">-{{ site.data.values.values_value3 }}</p>
            <p class="service-text value-item px-6 is-size-6">-{{ site.data.values.values_value5 }}</p>
          </div>
          <div class="column">
      
            <p class="service-value-item text is-size-6">-{{ site.data.values.values_value2 }}</p>
            <p class="service-value-item text is-size-6">-{{ site.data.values.values_value4 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>