<section id="trabalhe-conosco" class="section">
  <div class="container">
    <div class="columns is-mobile header-title">
      <div class="column">
        <h1 class="title is-2 has-text-centered is-white">
          {{ site.data.work.title }}
        </h1>
        </h1>
        <p class="subtitle has-text-centered">
          {{ site.data.work.subtitle }}
        </h1>
        </p>
      </div>
    </div>
    <div class="columns forms-center">
      <div class="column">
        <form id="form-work" name="work" method="POST">
          <div class="field-body">
            <div class="field">
              <label>Nome</label>
              <p class="control is-expanded has-icons-left" >
                <input class="input" type="text" name="nome" placeholder="Digite seu nome" required/>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Email</label>
              <p class="control is-expanded has-icons-left">
                <input class="input" type="email" name="email" placeholder="Digite seu e-mail" required/>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label>CPF</label>
              <p class="control is-expanded">
                <input id="cpf-mask"class="input" type="int" name="cpf" placeholder="Digite seu cpf" required/>
              </p>
            </div>
          </div>
          <div class="field-body pt-4">
            <div class="field">
              <label>Facebook</label>
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" name="facebook" placeholder="Link para seu Facebook" />
                <span class="icon is-small is-left">
                  <i class="fab fa-facebook-f"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Linkedin</label>
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" name="linkedin" placeholder="Link para seu Linkedin" />
                <span class="icon is-small is-left">
                  <i class="fab fa-linkedin-in"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Instagram</label>
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" name="instagram" placeholder="Link para seu Instagram" />
                <span class="icon is-small is-left">
                  <i class="fab fa-instagram"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="field-body pt-4">
            <div class="field">
              <label>Telefone</label>
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" name="telefone" placeholder="Digite seu número"/>
                <span class="icon is-small is-left">
                  <i class="fas fa-phone-alt"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Celular</label>
              <p class="control is-expanded has-icons-left">
                <input id="phone-mask" class="input" type="text" name="celular" placeholder="Digite seu número" required/>
                <span class="icon is-small is-left">
                  <i class="fas fa-mobile-alt"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="field-body pt-4">
            <div class="field">
              <label>CEP</label>
              <p class="control is-expanded">
                <input id="cep-mask" class="input" type="text" name="cep" placeholder="Digite seu CEP" required />
              </p>
            </div>
            <div class="field">
              <label>Endereço</label>
              <p class="control is-expanded">
                <input class="input" type="text" name="endereco" placeholder="Digite seu Endereço" required/>
              </p>
            </div>
            <div class="field">
              <label>Cidade</label>
              <p class="control is-expanded">
                <input class="input" type="text" name="cidade" placeholder="Digite sua cidade" required/>
              </p>
            </div>
            <div class="field">
              <label>Bairro</label>
              <p class="control is-expanded">
                <input class="input" type="text" name="bairro" placeholder="Digite seu bairro" required/>
              </p>
            </div>
            <div class="field">
              <label>UF</label>
              <p class="control is-expanded">
                <input class="input" type="text" name="uf" placeholder="Digite a sigla do seu Estado" required/>
              </p>
            </div>
          </div>
          <div class="field-body pt-4">
            <div class="field">
              <label>Cargo pretendido</label>
              <p class="control is-expanded">
              <div class="select">
                <select name="cargo">
                  <option value="141">Auxiliar Contábil</option>
                  <option value="142">Auxiliar de Escrita Fiscal</option>
                  <option value="143">Assistente Financeiro</option>
                  <option value="161">Propagandista Zootecnista</option>
                  <option value="162">Propagandista Veterinário</option>
                  <option value="42">Analista de contas</option>
                  <option value="43">Analista de Crédito</option>
                  <option value="41">Analista contábil</option>
                  <option value="44">Analista de estoque</option>
                  <option value="45">Analista de RH</option>
                  <option value="46">Analista de sistemas</option>
                  <option value="47">Analista de transporte</option>
                  <option value="48">Armazenista</option>
                  <option value="49">Assistente Administrativo</option>
                  <option value="50">Assistente comercial</option>
                  <option value="51">Assistente de Controladoria</option>
                  <option value="52">Assistente de Segurança de Trabalho</option>
                  <option value="53">Assistente de TI</option>
                  <option value="54">Assistente de Vendas</option>
                  <option value="55">Assistente Logistica</option>
                  <option value="56">Auxiliar Administrativo</option>
                  <option value="57">Auxiliar de estoque</option>
                  <option value="58">Auxiliar de limpeza</option>
                  <option value="59">Auxiliar de Logística</option>
                  <option value="60">Chefe de cobrança</option>
                  <option value="61">Classificador de avaria</option>
                  <option value="62">Conferente de Carga e descarga</option>
                  <option value="63">Consultor de Vendas</option>
                  <option value="64">Controller</option>
                  <option value="65">Coordenador de Logistica</option>
                  <option value="66">Coordenador de Merchandising</option>
                  <option value="67">Coordenador de suporte de vendas</option>
                  <option value="68">Demonstrador de Mercadorias</option>
                  <option value="69">Encarregado de contas a pagar</option>
                  <option value="70">Encarregado de manutenção</option>
                  <option value="71">Engenheiro de Produção</option>
                  <option value="72">Entregador de Mercadoria</option>
                  <option value="73">Estoquista</option>
                  <option value="74">Faturista</option>
                  <option value="75">Gerente Administrativo</option>
                  <option value="76">Gerente de Compras</option>
                  <option value="77">Gerente de Logistica</option>
                  <option value="78">Gerente de vendas</option>
                  <option value="79">Gerente Financeiro</option>
                  <option value="80">Gerente Ti</option>
                  <option value="81">Gerente de Recursos Humanos</option>
                  <option value="82">Gerente de Departamento Pessoal</option>
                  <option value="83">Lavador de Veiculos</option>
                  <option value="84">Manobrista</option>
                  <option value="85">Motorista de Caminhão</option>
                  <option value="86">Operador de Empilhadeira</option>
                  <option value="87">Operador de Telemarketing</option>
                  <option value="88">Porteiro</option>
                  <option value="89">Programador de Aplicativos</option>
                  <option value="90">Programador e controlador de materiais</option>
                  <option value="91">Recepcionista</option>
                  <option value="92">Repositor de Merc - comércio</option>
                  <option value="93">Repositor de Mercadoria</option>
                  <option value="94">Supervisor Administrativo</option>
                  <option value="95">Supervisor de Atendimento ao Cliente</option>
                  <option value="96">Supervisor de Vendas</option>
                  <option value="97">Supervisor Operacional</option>
                  <option value="98">Técnico de A. U. de Informática(helpesk)</option>
                  <option value="99">Técnico em Seguranca do Trabalho</option>
                  <option value="100">Técnico em Seguranca do Trabalho</option>
                  <option value="101">Vendedor Atacadista</option>
                  <option value="102">Vendedor Comercial</option>
                  <option value="121">Engenheiro de produção</option>
                </select>
              </div>
              </p>
            </div>
            <div class="field">
              <label>Pretenção salarial</label>
              <p class="control is-expanded">
              <div class="select">
                <select name="salario">
                  <option value="1" label="Entre R$1.000,00 a R$2.000,00"></option>
                  <option value="2" label="Entre R$2.001,00 a R$3.000,00"></option>
                  <option value="3" label="Entre R$3.001,00 a R$4.000,00"></option>
                  <option value="4" label="Entre R$4.001,00 a R$5.000,00"></option>
                  <option value="5" label="Acima de R$5.000,00"></option>
                </select>
              </div>
              </p>
            </div>
            <div class="field">
              <label>Está empregado atualmente?</label>
              <p class="control is-expanded">
              <div class="select">
                <select name="trabalhando">
                  <option value="0">Não</option>
                  <option value="1">Sim</option>
                </select>
              </div>
              </p>
            </div>
            <div class="field">
              <label>Pessoa com deficiência</label>
              <p class="control is-expanded">
              <div class="select">
                <select name="pcd">
                  <option value="0">Não tenho deficiência</option>
                  <option value="2">Reabilitado pelo INSS</option>
                  <option value="1">Tenho deficiência</option>
                </select>
              </div>
              </p>
            </div>
          </div>
          <div class="field-body pt-4">
            <div class="field">
              <label>Data de nascimento</label>
              <p class="control is-expanded has-icons-left">
                <input class="input" type="date" name="nascimento" placeholder="Digite sua data de nascimento" />
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Currículo em PDF</label>
              <div id="file-js-example" class="file has-name is-left">
                <label class="file-label">
                  <input id="resume" class="file-input" type="file" name="resume" required>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Selecione o arquivo
                    </span>
                  </span>
                  <span class="file-name">
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="pt-3">
            <label class="checkbox">
              <input type="checkbox" name="checkbox" onclick="toggle_button()" required>
               Eu concordo com os Termos e Condições
            </label><a id="btn"> das minhas informações.</a>
          </div>
          <div id="terms" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="box">
                <h1 class="title">Termos e Condições</h1>
                <div class="content">
                  <p class="is-family-monospace">
                    Em observância a
                    <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Lei/L13709.htm" target="_blank">
                    Lei 13.709/18
                    </a>, Lei Geral de Proteção de
                    Dados Pessoais,  DECLARO de forma livre, consciente, expressa
                    e informada que ao enviar meu currículo estou CONCORDANDO
                    com o uso e armazenamento dos dados enviados, para os fins
                    declarados.
                  </p>
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
          <div id="loading" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="box">
                <div class="content">
                  <p class="is-family-monospace">
                    Enviando dados
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-grouped pt-4">
            <div class="control">
              <button id="button_send"type="button" onclick="send_form()" class="button is-link" disabled>Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>
</div>