@charset "utf-8";

.is-blue{
  color: #20376c;
}

@import
  "cda/navbar",
  "cda/header",
  "cda/about",
  "cda/product",
  "cda/brands",
  "cda/client",
  "cda/footer",
  "cda/contact",
  "cda/values",
  "cda/mershan",
  "cda/work"
;