.is-horizontal-center {
    justify-content: center;
  }

  .brands{
      background-color:#f6f9f9;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    .swiper-slide{
      width: 100px !important;
    }
  }