.brands{
  padding-right: -500px;
  background-color: #f6f9f9;
}
#brands-slider .slider-item{
  width: 190px !important;
}

.brands-image{
  height:auto;
  width:auto;
}

@media (max-width: 768px){
  .brands-image{
    height: 120px;
    width: 120px;
  }

  #brands-slider .slider-item{
    width: 130px !important;
  }
  
}