#seja-cliente {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#client_form{
  height: 70vh;
  width: 40vw;
}

@media (max-width: 768px) {
  #client_form{
      height: 100vh;
      width: 100vw;
  }
}