.contact-us {
  background-color: #20376c;
}

.iframe-rwd {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.iframe-rwd iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-iframe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us-iframe{
  height: 45vh;
  width: 40vw; 
}

@media (max-width: 768px) {
  .contact-us-iframe{
      height: 70vh;
      width: 100vw;
  }
}