html {
    scroll-behavior: smooth;
  }

.header-title{
    align-items: center;
    height: 12rem;
}

.sub-title-about{
    text-align: center;
}

.slider-navigation-next{
    margin: 10px;
}

.slider-navigation-previous{
    margin: 10px;
}

.is-full{
    height: 100vh;
}
.has-background{
    height: 100vh;
}

@media (max-width: 768px) {
    .is-full{
        height: 50vh;
    }
  
}