html {
    scroll-behavior: smooth;
  }

.is-full{
    margin-top: 4rem;
    height: 91.5vh;
}
.has-background{
    height: 91.5vh;
}

.slider-navigation-next, .slider-navigation-previous{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
}

@media (max-width: 768px){
    .is-full{
        margin-top: 3.2rem;
        height: 30vh;
    }
}