.navbar-end {
    padding-right: 0px;
  }
  .navbar-item,
  .navbar-link {
    color: #202020;
    text-align: center;
  }
  a.navbar-item:hover{
    color: rgb(201, 201, 201);
    background-color: #0d0d0de0;
}

.sticky header{
    transition: 0.6s;
    background-color: #20376c !important;
}

.sticky .logo img{
    justify-content: center;
    max-width: 100px;
}

.navbar-burger{
    width: 4.25rem;
    color: white;
}
.navbar-burger span{
    height: 2px;
    width: 20px;
}

@media (min-width: 1024px) {
    .sticky header{
        transition: 0.6s;
        background-color: #20376c !important;
    }

    .sticky .logo img{
        max-width: 120px;
    }
    
    .navbar-item{
        color: seashell;
    }
    a.navbar-item::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 2px;
        background: currentColor;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 250ms ease-in;
    }
    
    a.navbar-item:hover{
        color: rgb(255, 255, 255);
        background-color: #fff0;
    }
    
    a.navbar-item:hover::after{
        transform: scaleX(1);
        color:white;
    }
 
}
