.category-header{
    cursor: pointer;
	color: rgb(34, 34, 34);
    position: relative;
}

.category-header .title-category:hover{
    color:rgb(71, 71, 71);
}

.category-active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    transition: 0.6s;
    background: currentColor;
}
    
#produtos{
    background-color: #FFCC00;
}

.text-blue{
    font-weight: bold;
    color: #20376c;
}

.card{
    background-color: transparent;
    box-shadow: none;
}




@media (max-width: 768px) {
    
    #category .columns.is-mobile > .column.is-2{
       width: 33%;    
    }
    .product .header-title{
        align-items: left;
        height: 8rem;
    }
    .columns.is-mobile > .column.is-2{
        width: 50% !important;
    }
    

}

@media (min-width: 1024px) {
    .category-header{
       flex: none;
       width: 16%;
       padding-bottom: 20px;    
    }
}