#produtos {
  background-color: #ffcc00;
}

.text-blue {
  font-weight: bold;
  color: #20376c;
}

.card {
  background-color: transparent;
  box-shadow: none;
}

#category .columns.is-mobile > .column.is-2 {
  width: 20%;
}

@media (max-width: 768px) {
  #category .columns.is-mobile > .column.is-2 {
    width: 50%;
  }
  .product .header-title {
    align-items: left;
    height: 8rem;
  }
}

@media (min-width: 1024px) {
  .category-header {
    flex: none;
    width: 16%;
    padding-bottom: 20px;
  }
}

