#merchan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel {
    width: 600px;
  }
  
  .carousel-cell {
    width: 100%;
    height: 600px;
    margin-right: 10px;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }
  
  .carousel-cell-image {
    display: block;
    max-height: 100%;
  }  

@media (max-width: 768px){
    #merchan{
        margin-bottom: -230px;
    }
    .carousel-cell-image{
        margin-top: -165px;
    }
    .carousel{
        width: 300px;
    }
    .title.is-2.has-text-centered.is-blue.has-text-weight-bold.pt-6.merchan-title{
        margin-bottom: -40px;
    }

}