#merchan{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.merchan-is-full{
    height: 70vh;
    width: 50vw;
}

@media (max-width: 768px){
    .merchan-is-full{
        height: 40vh;
        width: 80vw;
    }
}