.category-header{
    cursor: pointer;
}

.category-active{
    border: solid 0.1em;
    padding: 0.3em;
}

#produtos{
    background-color: #eaeaea;
}


@media (max-width: 768px) {
    
    #category .columns.is-mobile > .column.is-2{
       width: 33.33333%;    
    }

}